body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/background.jpg);
  background-size: cover;
}

#mycanvas {
  border: 5px solid gold;
  border-radius: 10px;
}
