/* ----------------------------------------- Font */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* ----------------------------------------- Colors */
:root {
  --clr-primary-light: rgb(245, 245, 245);
  --clr-primary-dark: rgb(14, 12, 5);
  --clr-neon-red: rgb(238, 27, 20);
  --clr-neon-pink: rgb(255, 0, 212);
  --clr-neon-yellow: rgb(243, 253, 9);
  --clr-neon-green: rgb(39, 239, 16);
  --clr-neon-purple: rgb(136, 1, 243);
  --clr-mario-sky: rgb(92, 148, 252);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/bg_neon.png);
  background-size: cover;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "VT323", monospace;
}

/* ----------------------------------------- TV frame & Screen */
#tv-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  position: relative;
  width: auto;
  /* background-color: red; */
}

#tv-frame {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#tv-frame img {
  position: relative;
  z-index: 2;
  display: block;
  height: 650px;
  width: auto;
  object-fit: contain;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2),
    -10px -10px 30px rgba(0, 0, 0, 0.2);
}
#mycanvas {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 682px;
  height: 544px;
  border: 2px solid black;
  border-radius: 16px;
  background-color: var(--clr-mario-sky);
}

.tv-screen {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 42%;
  transform: translate(-50%, -50%);
  width: 682px;
  height: 544px;
  border: 2px solid black;
  border-radius: 16px;
}

/* ---------------------------------------Navigation Homepage*/
.nav-background {
  background-color: black;
  color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.nav-background ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
}

.nav-background li {
  background-color: var(--clr-neon-green);
  padding: 0.5rem;
  text-align: center;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 0 7px var(--clr-neon-green);
}

.nav-background a {
  width: 100%;
  text-decoration: none;
}

.nav-background li:hover {
  transform: scale(1.1) rotate(-4deg);
}

/* ---------------------------------------About us*/
.about-background {
  background-color: black;
  color: white;
  padding: 3rem;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.close-button {
  position: absolute;
  right: 4rem;
  top: 2rem;
  color: var(--clr-neon-red);
  font-size: 2rem;
}

.close-button:hover {
  transform: scale(1.1) rotate(-7deg);
}

.team-member-card {
  height: 150px;
  width: 150px;
  background-color: var(--clr-neon-green);
  box-shadow: 0 0 5px var(--clr-neon-green);
  text-align: center;
  color: var(--clr-neon-purple);
}

.team-member-card i {
  font-size: 2rem;
  padding-top: 1rem;
  color: var(--clr-neon-purple);
}

.team-member-card i:hover {
  transform: scale(1.1) rotate(-7deg);
}

.card-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
