:root {
  /* Colors */
  --clr-primary-light: rgb(245, 245, 245);
  --clr-primary-dark: rgb(14, 12, 5);

  --clr-neon-red: rgb(238, 27, 20);
  --clr-neon-pink: rgb(255, 0, 212);
  --clr-neon-yellow: rgb(243, 253, 9);
  --clr-neon-green: rgb(39, 239, 16);
  --clr-neon-purple: rgb(136, 1, 243);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/images/background.jpg);
  background-size: cover;
}

#mycanvas {
  border: 5px solid gold;
  border-radius: 10px;
}
